.teachersContainer {
  width: 100%;
  text-align: center;
  background-color: #dadada;
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.arrowIcon {
  cursor: pointer;
  font-size: 60px;
  font-weight: 900;
  color: #00b16a;
  margin-top: 30%;
}

.slideAnimation {
  position: relative;
  animation-name: slideAnimate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes slideAnimate {
  0% {
    left: 0px;
  }
  9.1% {
    left: 5px;
  }
  18.2% {
    left: 10px;
  }
  27.3% {
    left: 15px;
  }
  36.4% {
    left: 10px;
  }
  45.5% {
    left: 5px;
  }

  54.6% {
    left: 0px;
  }

  63.7% {
    right: 5px;
  }

  72.8% {
    right: 10px;
  }

  81.9% {
    right: 15px;
  }

  91% {
    right: 10px;
  }

  100% {
    right: 5px;
  }
}
